In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Volume_Counts_2.csv")

In [3]:
if not pd.api.types.is_integer_dtype(data['Yr']):
    data['Yr'] = pd.to_datetime(data['Yr'], errors='coerce').dt.year
data = data.dropna(subset=['Yr'])
filtered_data = data[(data['Yr'] == 2022)]
filtered_data = filtered_data.sort_values(by=['Yr', 'M', 'D']).reset_index(drop=True)
filtered_data.to_csv("Volume_Counts.csv", index=False)

In [4]:
print(filtered_data.head())

   RequestID      Boro    Yr  M  D  HH  MM  Vol  SegmentID  \
0      34178  Brooklyn  2022  1  3   0   0   15     189074
1      34178  Brooklyn  2022  1  3   0  15   10     189074
2      34178  Brooklyn  2022  1  3   0  30   10     189074
3      34178  Brooklyn  2022  1  3   0  45    7     189074
4      34178  Brooklyn  2022  1  3   1   0    8     189074

                                        WktGeom         street    fromSt  \
0  POINT (993228.5264971782 150600.75237618468)  OCEAN PARKWAY  Dead End
1  POINT (993228.5264971782 150600.75237618468)  OCEAN PARKWAY  Dead End
2  POINT (993228.5264971782 150600.75237618468)  OCEAN PARKWAY  Dead End
3  POINT (993228.5264971782 150600.75237618468)  OCEAN PARKWAY  Dead End
4  POINT (993228.5264971782 150600.75237618468)  OCEAN PARKWAY  Dead End

                toSt Direction
0  Ocean View Avenue        NB
1  Ocean View Avenue        NB
2  Ocean View Avenue        NB
3  Ocean View Avenue        NB
4  Ocean View Avenue        NB

In [5]:
collisions_data = pd.read_csv("NYC_Collisions_2.csv")

In [6]:
collisions_data['Date'] = pd.to_datetime(collisions_data['Date'], format='mixed')
collisions_2022 = collisions_data[collisions_data['Date'].dt.year == 2022]
collisions_2022 = collisions_2022.dropna()
collisions_2022.to_csv('NYC_Collisions.csv', index=False)

In [7]:
print(collisions_2022.head())

        Collision ID       Date      Time    Borough      Street Name  \
110554       4491064 2022-01-01  02:09:00     Queens       150 Street
110557       4491430 2022-01-01  17:02:00  Manhattan   Madison Street
110560       4491694 2022-01-01  15:00:00      Bronx  Aqueduct Avenue
110561       4491096 2022-01-01  03:46:00  Manhattan  West 207 Street
110562       4491305 2022-01-01  07:30:00   Brooklyn  Vandalia Avenue

           Cross Street   Latitude  Longitude             Contributing Factor  \
110554  Coolidge Avenue  40.714996 -73.810220           Following Too Closely
110557  Mechanics Alley  40.712360 -73.993750     Traffic Control Disregarded
110560   Buchanan Place  40.858790 -73.907364  Driver Inattention/Distraction
110561   Sherman Avenue  40.865795 -73.920006             Passing Too Closely
110562     Elton Street  40.655655 -73.873440   Failure to Yield Right-of-Way

             Vehicle Type  Persons Injured  Persons Killed  \
110554  Passenger Vehicle              0.0               0
110557  Passenger Vehicle              0.0               0
110560  Passenger Vehicle              0.0               0
110561               Taxi              0.0               0
110562  Passenger Vehicle              0.0               0

        Pedestrians Injured  Pedestrians Killed  Cyclists Injured  \
110554                    0                   0                 0
110557                    0                   0                 0
110560                    0                   0                 0
110561                    0                   0                 0
110562                    0                   0                 0

        Cyclists Killed  Motorists Injured  Motorists Killed
110554                0                  0                 0
110557                0                  0                 0
110560                0                  0                 0
110561                0                  0                 0
110562                0                  0                 0

In [2]:
subway = pd.read_csv("Subway_Riderships2.csv")
subway['transit_timestamp'] = pd.to_datetime(subway['transit_timestamp'], format='mixed')
subway = subway[subway['transit_timestamp'].dt.year == 2022]
subway = subway.sort_values(by='transit_timestamp')
# columns_to_remove = ['station_complex_id', 'station_complex', 'routes', 'payment_method', 'transfers', 'Georeference']
# columns_to_remove = ['station_complex_id', 'station_complex', 'routes', 'payment_method', 'transfers', 'Georeference']
# subway_filtered = subway.drop(columns=columns_to_remove)
# subway_filtered.to_csv("Subway_Riderships.csv", index=False)
subway.to_csv("Subway_Riderships.csv", index=False)

In [3]:
print(subway.head())

        transit_timestamp borough  ridership   latitude  longitude
3487405        2022-02-01       Q         12  40.737015  -73.87722
2355726        2022-02-01      BK         13  40.686146  -73.99086
3513549        2022-02-01      BK         11  40.711926  -73.94067
1739132        2022-02-01       M         48  40.788643  -73.97622
714248         2022-02-01       M         11  40.855225  -73.92941

In [2]:
# Load your dataset (replace 'your_dataset.csv' with your actual file name)
df = pd.read_csv('Subway_Riderships2.csv')
columns_to_remove = ['latitude', 'longitude']
aggregated_df = df.drop(columns=columns_to_remove)

# Aggregate data by 'transit_timestamp' and 'borough'
aggregated_df = df.groupby(['transit_timestamp', 'borough'], as_index=False).agg({
    'ridership': 'sum',    # Sum ridership
})

# Convert 'ridership' to integer
aggregated_df['ridership'] = aggregated_df['ridership'].astype(int)

# Save the aggregated data to a new CSV (optional)
aggregated_df.to_csv('Subway_Ridership.csv', index=False)

# Display the resulting DataFrame
print(aggregated_df.head())

     transit_timestamp borough  ridership
0  2022-02-01 00:00:00      BK       1796
1  2022-02-01 00:00:00      BX        712
2  2022-02-01 00:00:00       M       7407
3  2022-02-01 00:00:00       Q       1237
4  2022-02-01 01:00:00      BK        723